
footer{
       display: -webkit-flex;
       display: -moz-flex;
       display: -ms-flex;
       display: -o-flex;
       display: flex;
       flex-flow: row wrap;
       padding: 50px;
       color: White;
       background-color: #131F34;
      
      }
.footer > *{
  flex: 1 100%;
}

.footer-left{
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer-left img{
   width: 100%;
}

h2{
 font-weight: 600;
 font-size: 17px;
 border-bottom: 2px solid #8DEEEE;
}

.footer ul{
  list-style-type: none;
  padding-left: 0;
}

.footer li{
  list-style-type: none;
  line-height: 2em;
}

.footer-right{
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
   flex-flow: row wrap;
}

.footer-right > *{
  flex: 1 50%;
  margin-right: 1.25em;
}

.footer-left p{
  padding-right: 20%;
  color: White;
}

.socials a{
  background: #041634;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
}

.socials a i{
   color: White;
   padding: 10px 12px;
   font-size: 20px;
}

@media screen and (min-width: 600px){
    .footer-right > *{
        flex: 1;
      }
   .footer-left{
        flex: 1 0px;
      }
    .footer-right{
        flex: 2 0px;
      }
}

@media (max-wdith: 600px){
   .footer{
       padding: 15px;  
    }
      font-size: 55px;
}